

  /** Responsive CSS STUFF**
   /** Adapted By Mani Kumar (https://manikumar.in/blog/mobile-optimized-decap-netlify-cms/) From Source: https://gist.github.com/searls/7fd2c3223571a58a81006e7da66bd064 */
@media (max-width: 799px) {
    /* Bring Any Dropdown To Center Of Page */
     [class*=DropdownList]{
         position: fixed;
         min-width: 20%;
         width: 90%;
         margin: auto;
         height: fit-content;
         top: auto;
         left: 0;
         right: 0;
         bottom: 10px;
         background: #e6f4fd;
         border: 2px solid #3a69c7;
    }
    /* Add Overflow To Modal Window */
     [class*=StyledModal]{
         width: 90dvw;
         width: 90%;
    }
     [class*=LibraryTitle]{
         display: none;
    }
     [class*=CollectionTopNewButton]{
         padding: 0px 10px !important;
         height: auto;
    }
     [class*=LibraryTop]{
         overflow-x: auto;
         height: fit-content;
         padding-bottom: 10px;
    }
    /* Hide Blog Post Title From Navbar */
     [class*=BackCollection]{
         display: none;
    }
    /* Add Padding To Control Pane */
     [class*=ControlPaneContainer] {
         padding: 0px 10px;
    }
    /* Rest As Per: Searl's Code*/
     [class*=BackCollection], [class*=BackStatus] {
         font-size: .6rem;
    }
     [class*=AppHeaderContent], [class*=AppMainContainer] {
         margin-right: 0;
         margin-left: 0;
         min-width: calc(100vw - 24px);
         max-width: 100vw;
    }
     [class*=AppHeaderContent] {
         display: flex;
         justify-content: space-between;
    }
     [class*=AppHeaderQuickNewButton] {
         width: 100%;
    }
     [class*=AppHeaderButton] {
         padding-left: 4px;
         padding-right: 4px;
    }
     [class*=EditorContainer], [class*=ToolbarContainer] {
         min-width: initial;
         overflow-x: auto;
    }
     [class*=ToolbarSubSectionFirst] {
         display: flex;
         flex-direction: column;
    }
     [class*=PublishedToolbarButton] {
         padding: 0 8px;
    }
     [class*=PublishedToolbarButton]::after {
         display: none;
    }
     [class*=ToolbarSubSectionFirst] {
         flex-direction: row;
    }
     [class*=SearchInput] {
         margin-top: 5px;
    }
     [class*=ViewControls] {
         position: initial;
    }
     [class*=PreviewPaneContainer-ControlPaneContainer] {
         padding: 0;
    }
     [class*=ControlPaneContainer] {
         max-width: 100vw;
    }
     [class*=EditorControlBar] [class*=ToolbarContainer] {
         display: flex;
         flex-direction: column;
    }
     [class*=CollectionContainer] {
         display: flex;
         flex-direction: column;
    }
     [class*=SidebarContainer] {
         position: initial;
         width: initial;
    }
     [class*=CollectionMain] {
         padding-left: 0;
         margin-top: 20px;
    }
}



  /**
 * Minified by jsDelivr using clean-css v5.3.3.
 * Original file: /gh/hithismani/responsive-decap@main/dist/responsive.css
 *
 * Do NOT use SRI with dynamically generated files! More information: https://www.jsdelivr.com/using-sri-with-dynamic-files
 */
 @media (max-width:799px){[class*=DropdownList]{position:fixed!important;min-width:20%!important;width:90%!important;margin:auto!important;height:fit-content!important;top:auto!important;left:0!important;right:0!important;bottom:10px!important;background:#e6f4fd!important;border:2px solid #3a69c7!important}[class*=StyledModal]{width:90dvw!important;width:90%!important}[class*=LibraryTitle]{display:none!important}[class*=CollectionTopNewButton]{padding:0 10px!important;height:auto!important}[class*=LibraryTop]{overflow-x:auto!important;height:fit-content!important;padding-bottom:10px!important}[class*=BackCollection]{display:none!important}[class*=ControlPaneContainer]{padding:0 10px!important}[class*=BackCollection],[class*=BackStatus]{font-size:.6rem!important}[class*=AppHeaderContent],[class*=AppMainContainer]{margin-right:0!important;margin-left:0!important;min-width:calc(100vw - 24px)!important;max-width:100vw!important}[class*=AppHeaderContent]{display:flex!important;justify-content:space-between!important}[class*=AppHeaderQuickNewButton]{width:100%!important}[class*=AppHeaderButton]{padding-left:4px!important;padding-right:4px!important}[class*=EditorContainer],[class*=ToolbarContainer]{min-width:initial!important;overflow-x:auto!important}[class*=ToolbarSubSectionFirst]{display:flex!important;flex-direction:column!important}[class*=PublishedToolbarButton]{padding:0 8px!important}[class*=PublishedToolbarButton]::after{display:none!important}[class*=ToolbarSubSectionFirst]{flex-direction:row!important}[class*=SearchInput]{margin-top:5px!important}[class*=ViewControls]{position:initial!important}[class*=PreviewPaneContainer-ControlPaneContainer]{padding:0!important}[class*=ControlPaneContainer]{max-width:100vw!important}[class*=EditorControlBar] [class*=ToolbarContainer]{display:flex!important;flex-direction:column!important}[class*=CollectionContainer]{display:flex!important;flex-direction:column!important}[class*=SidebarContainer]{position:initial!important;width:initial!important}[class*=CollectionMain]{padding-left:0!important;margin-top:20px!important}}
 /*# sourceMappingURL=/sm/639d91c70cde99050082c378e724c7fea5cfce0bbb4bffd8ea88856af8f9bf2b.map */



 /* Hide the Navbar URL */
 a.css-j0g0ov-AppHeaderSiteLink.e1gt62yu1 {
    display: none !important;
}